@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #f2dfce;
  --secondaryColor: #fff1e0;
  --accentDark: #000f28;
  --accentLight: #fff1e0;
  --fontColor: #000f28;
  --shadowColor: #000f2835;
  --cursorColor: #000f2863;
  --filterColor: grayscale(100%) sepia(70%);
}
html {
  min-height: 100%;
  background: linear-gradient(
    239deg,
    var(--secondaryColor) 0,
    var(--primaryColor) 20%,
    var(--primaryColor) 40%,
    var(--tertiaryColor) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: var(--fontColor);
}

/**
    Media queries
**/
@media (hover: none) {
  .cursor {
    display: none;
  }
}
@media (max-width: 599px) {
  #change {
    top: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
  }
  #display,
  .sources {
    font-size: clamp(1rem, calc(1rem + 1vw), 1.5rem);
    margin: 30px 10% 80px;
  }
  .chapter-selection {
    margin: 0 10% 80px;
  }
  .line-one,
  .line-two,
  #links,
  .selection-area {
    flex-direction: column;
  }
  .line-one {
    justify-content: center;
  }
  .reference {
    word-break: break-all;
  }
}
@media (min-width: 600px) {
  #change {
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
  #display,
  .sources {
    font-size: clamp(1rem, calc(1rem + 1vw), 1.5rem);
    margin: 30px 10% 80px;
  }
  .chapter-selection {
    margin: 0 10% 80px;
  }
  .line-one {
    justify-content: center;
  }
  .line-one {
    flex-direction: column;
  }
  .reference {
    word-break: break-all;
  }
}
@media (min-width: 1024px) {
  #display,
  .sources {
    font-size: clamp(1.5rem, calc(1.5rem + 1vw), 1.8rem);
    margin: 30px 14% 80px;
  }
  .chapter-selection {
    margin: 0 14% 80px;
  }
  .line-one,
  #links,
  .selection-area {
    flex-direction: row;
  }
  .line-one {
    justify-content: space-between;
  }
  .reference {
    word-break: normal;
  }
}

/**
    Animations
**/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes in {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes out {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0);
  }
}
.fade-in {
  animation: 1s fadeIn;
  opacity: 1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(40px + 2vw);
  margin-bottom: calc(15px + 2vw);
}
h1 {
  font-weight: 400;
  font-size: calc(1.9rem + 1vw);
  margin: 20px calc(10px + 2vw);
}

/**
    Buttons/inputs
**/
#drip-button {
  background: var(--accentLight);
  color: var(--fontColor);
  border: none;
  border-radius: 50%;
  font-size: calc(1.9rem + 1vw);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: calc(70px + 1vw);
  letter-spacing: 1px;
  margin: 20px;
  box-shadow: 0 4px 15px var(--shadowColor);
}
#drip-button:hover {
  transform: scale(1.03);
  transition: 0.1s;
}
#drip-button:active {
  transform: scale(0.97);
  transition: 0.1s;
  box-shadow: unset;
}
#drip-again-button {
  box-shadow: 0 4px 15px var(--shadowColor);
  margin: 20px;
}
#drip-again-button:active {
  box-shadow: unset;
}
.index {
  text-decoration: none;
}
input {
  background: var(--accentLight);
  height: 42px;
  width: 50px;
  font-size: 1rem;
  color: var(--fontColor);
  border: 1px solid var(--fontColor);
  border-radius: 10px;
  text-align: center;
  outline: 0;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.number-controls {
  display: flex;
  position: relative;
  height: 42px;
  margin: 0 18px 0 0;
}
.number-controls .minus,
.number-controls .plus {
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  background: 0 0;
  border-radius: 0;
}
.number-controls .minus:hover,
.number-controls .plus:hover {
  background-color: transparent !important;
}
.number-controls .plus {
  top: 0;
  margin-top: -5px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--fontColor);
}
.number-controls .minus {
  bottom: 0;
  margin-bottom: -5px;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--fontColor);
}
.number-control[disabled] {
  transition-duration: 0.2s;
}
.number-controls .plus[disabled] {
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--cursorColor);
  background-color: transparent;
}
.number-controls .minus[disabled] {
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--cursorColor);
  background-color: transparent;
}
.button {
  width: auto;
  height: 42px;
  border-radius: 20px;
  background-color: var(--fontColor);
  padding: 4px 12px;
  color: var(--accentLight);
  font-size: 1rem;
  letter-spacing: 0.32px;
  border: 1px solid var(--fontColor);
  align-self: center;
}
.button:hover {
  transform: scale(1.03);
  transition: 0.1s;
  color: var(--accentLight);
  background-color: var(--fontColor);
}
.button:active {
  transform: scale(0.97);
  transition: 0.1s;
}
#change {
  position: fixed;
  border-radius: 50%;
  background-color: var(--accentDark);
}

/**
    Misc body
**/
#display {
  line-height: 1.3;
  letter-spacing: 0.22px;
  border: none;
  border-radius: 10px;
  padding: 5% 6%;
  background: var(--accentLight);
}
.chapter-author {
  text-decoration: underline;
  margin: 0;
}
.chapter-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
.chapter-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  border-radius: 10px;
  background: var(--accentLight);
  gap: 20px;
}
.line-two,
.line-three {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--fontColor);
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}
.line-one {
  display: flex;
  gap: 20px;
}
.line-two {
  justify-content: center;
}
.line-three {
  flex-direction: column;
  justify-content: space-between;
}
main {
  display: flex;
  flex-direction: column;
}
.button-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 80px;
}
.select-text {
  align-self: center;
  letter-spacing: 0.32px;
}
::selection {
  color: var(--secondaryColor);
  background: var(--accentDark);
}
::-moz-selection {
  color: var(--secondaryColor);
  background: var(--accentDark);
}
body,
body * {
  cursor: none;
}
.cursor {
  position: fixed;
  background: var(--cursorColor);
  backdrop-filter: blur(3px);
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  border-radius: 50%;
  will-change: transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}
#bullet {
  padding: 0 34px;
}
.input-area {
  display: flex;
  gap: 5px;
}
.selection-area {
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
  border: 1px solid var(--fontColor);
  border-radius: 10px;
  padding: 20px;
  gap: 19px;
}
.selection-right {
  display: flex;
  align-self: center;
  gap: 19px;
}
#unread-chapters {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -14px;
}
#unread-chapters td {
  border: none;
  width: 43px;
  height: 25px;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
}
.chapter-numbers {
  justify-self: center;
  align-self: center;
}
.chapter-link {
  padding: 0 1px 1px 0;
  color: var(--fontColor);
}
.chapter-link:hover {
  padding: 0 1px 4px 2px;
  font-style: normal;
  text-decoration: none;
  color: var(--accentLight);
  background-color: var(--fontColor);
}
.checkbox-container {
  display: flex;
  position: relative;
  padding-left: 36px;
  min-height: 30px;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: var(--accentLight);
  border: 1px solid var(--fontColor);
  border-radius: 4px;
}
.checkbox-container:hover input ~ .checkmark {
  background-color: var(--fontColor);
}
.checkbox-container:hover input ~ .checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid var(--accentLight);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--accentLight);
}
.checkbox-container:hover input:checked ~ .checkmark {
  background-color: var(--fontColor);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid var(--fontColor);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.emoji {
  filter: var(--filterColor);
  -webkit-filter: var(--filterColor);
  -moz-filter: var(--filterColor);
}
.emphasis,
.footer-link:hover,
p.sources a:hover,
a:hover {
  font-style: italic;
}
.sources {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  letter-spacing: 0.22px;
  border: none;
  border-radius: 10px;
  padding: 5% 6%;
  color: var(--fontColor);
  background: var(--accentLight);
  gap: 20px;
}
p.sources a,
a {
  color: var(--fontColor);
}
.reference {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: 200;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#links {
  display: flex;
  gap: 20px;
}
#yin-yang {
  margin: calc(60px + 2vw) auto;
  width: calc(80px + 1vw);
  height: calc(80px + 1vw);
  -webkit-animation: 0.5s in;
  animation: 0.5s in;
}
svg {
  color: var(--accentDark);
}
#yin-yang:hover {
  -webkit-animation: 0.5s out;
  animation: 0.5s out;
}
.footer-link {
  text-decoration: none;
  color: var(--fontColor);
  font-size: 1rem;
  letter-spacing: 0.32px;
  margin: 0 12px;
  position: relative;
  padding-bottom: 2px;
}
.footer-link:hover {
  text-decoration: underline;
}
